body {
    background-color: aliceblue;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }

  p {
    font-size: 3em;
    font-style: italic;
  }

  h1.main {
    color: red;
  }

  p.sub {
    color: green;
  }
